body {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #6dd5fa);
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .navbar {
  background-color: #000 !important;
}

.card {
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
